<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HL7SenderWindowsService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <HL7SenderWindowsService.Properties.Settings>
            <setting name="Interval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ServerIP" serializeAs="String">
                <value>172.16.39.51</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>17642</value>
            </setting>
            <setting name="ExportPath" serializeAs="String">
                <value>C:\Apoteca\HL7\</value>
            </setting>
            <setting name="MaxExpHL7Day" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MaxExpLogDay" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="ResponseTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ReturnACK" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxErrorTimes" serializeAs="String">
                <value>0</value>
            </setting>
        </HL7SenderWindowsService.Properties.Settings>
    </applicationSettings>
</configuration>